In [1]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
import numpy as np

D:\Anaconda3\envs\SmartSystems\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [2]:
energy = pd.read_csv("datasets/ods001.csv", sep=";")

In [3]:
energy.head()

                    DateTime Resolution code  Total Load  id
0  2022-11-30T23:45:00+01:00           PT15M         NaN   1
1  2022-11-30T23:30:00+01:00           PT15M         NaN   2
2  2022-11-30T23:15:00+01:00           PT15M         NaN   3
3  2022-11-30T23:00:00+01:00           PT15M         NaN   4
4  2022-11-30T22:45:00+01:00           PT15M         NaN   5

In [4]:
energy.drop(["DateTime"],axis=1)

       Resolution code  Total Load      id
0                PT15M         NaN       1
1                PT15M         NaN       2
2                PT15M         NaN       3
3                PT15M         NaN       4
4                PT15M         NaN       5
...                ...         ...     ...
277531           PT15M     9755.00  277532
277532           PT15M     9821.78  277533
277533           PT15M     9952.87  277534
277534           PT15M    10051.28  277535
277535           PT15M    10142.19  277536

[277536 rows x 3 columns]

In [5]:
energy.isnull().value_counts()

DateTime  Resolution code  Total Load  id
False     False            False       False    277473
                           True        False        63
dtype: int64

In [6]:
energy["Total Load"].mean()

9724.990790419246

In [7]:
energy["Total Load"] = energy["Total Load"].fillna(9725)

In [8]:
energy["Total Load"].isnull().value_counts()

False    277536
Name: Total Load, dtype: int64

In [13]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277536 entries, 0 to 277535
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   DateTime         277536 non-null  object
 1   Resolution code  277536 non-null  object
 2   Total Load       277536 non-null  float64
 3   id               277536 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.5+ MB

In [24]:
X = energy.drop('Total Load', axis=1)
y = energy['Total Load']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [28]:
D_train = xgb.DMatrix(X_train, label=y_train)
D_test = xgb.DMatrix(X_test, label=y_test)

ValueError: DataFrame.dtypes for data must be int, float, bool or category.  When
                categorical type is supplied, DMatrix parameter `enable_categorical` must
                be set to `True`.DateTime, Resolution code