Libraries importeren

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.model_selection import train_test_split

D:\Anaconda3\envs\SmartSystems\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

Dataset importeren

In [2]:
athletes = pd.read_csv("datasets/athlete_events.csv")
df = pd.DataFrame(athletes)

Overzicht dataset laten zien

In [3]:
df.head()
compare = df

Kolommen verwijderen en missing values opvullen

In [4]:
df = df.drop(["Height", "Weight", "ID", "Team", "Games", "Event", "Name", "City", "Sport", "NOC", "Season"], axis=1)

In [5]:
df["Medal"] = df["Medal"].fillna("None")
df['Medal'].replace(['None', 'Bronze', 'Silver', 'Gold'], [0, 1, 2, 3], inplace=True)
df['Sex'].replace(["M", "F"], [0, 1], inplace=True)
df

        Sex   Age  Year  Medal
0         0  24.0  1992      0
1         0  23.0  2012      0
2         0  24.0  1920      0
3         0  34.0  1900      3
4         1  21.0  1988      0
...     ...   ...   ...    ...
271111    0  29.0  1976      0
271112    0  27.0  2014      0
271113    0  27.0  2014      0
271114    0  30.0  1998      0
271115    0  34.0  2002      0

[271116 rows x 4 columns]

X en y waardes toekennen

In [6]:
X = df.drop('Medal', axis=1)
y = df['Medal']

X/y train/test waardes toekennen

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Data transformeren naar Dmatrix

In [8]:
D_train = xgb.DMatrix(X_train, label=y_train)
D_test = xgb.DMatrix(X_test, label=y_test)

D:\Anaconda3\envs\SmartSystems\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

In [9]:
param = {
    'eta': 0.1,
    'max_depth': 50,
    'objective': 'multi:softprob',
    'num_class': 4}
steps = 50

In [10]:
model = xgb.train(param, D_train, steps)

[11:08:46] WARNING: C:\Windows\Temp\abs_557yfx631l\croots\recipe\xgboost-split_1659548953302\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [11]:
import numpy as np
from sklearn.metrics import precision_score, recall_score, accuracy_score

preds = model.predict(D_test)
best_preds = np.asarray([np.argmax(line) for line in preds])
print("Precision = {}".format(precision_score(y_test, best_preds,average='macro')))
print("Recall = {}".format(recall_score(y_test, best_preds, average='macro')))
print("Accuracy= {}".format(accuracy_score(y_test, best_preds)))

Precision = 0.3594985942001878
Recall = 0.25106383063770465
Accuracy= 0.8512282384184126

In [54]:
array = []
for i in y:
    array.append(i)

In [83]:
counter = 0
for i in range(len(preds)):
    if preds[i][3] < 0.0031 and array[i] == 3:
        print('Anomaly detected: expected no medal but got', array[i], 'prediction is: ', preds[i][3])
        print(compare.loc[i])

Anomaly detected: expected no medal but got 3 prediction is:  0.0030447207
ID                                   5396
Name       Vladimir Nikolayevich Artyomov
Sex                                     M
Age                                  23.0
Height                              167.0
Weight                               63.0
Team                         Soviet Union
NOC                                   URS
Games                         1988 Summer
Year                                 1988
Season                             Summer
City                                Seoul
Sport                          Gymnastics
Event     Gymnastics Men's Horizontal Bar
Medal                                Gold
Name: 9860, dtype: object
Anomaly detected: expected no medal but got 3 prediction is:  0.0030447207
ID                               13670
Name      Francesca Bortolozzi-Borella
Sex                                  F
Age                               24.0
Height                           170.0
Weight                            55.0
Team                             Italy
NOC                                ITA
Games                      1992 Summer
Year                              1992
Season                          Summer
City                         Barcelona
Sport                          Fencing
Event       Fencing Women's Foil, Team
Medal                             Gold
Name: 26224, dtype: object
Anomaly detected: expected no medal but got 3 prediction is:  0.003044476
ID                      15134
Name         Jacques Brinkman
Sex                         M
Age                      34.0
Height                  182.0
Weight                   75.0
Team              Netherlands
NOC                       NED
Games             2000 Summer
Year                     2000
Season                 Summer
City                   Sydney
Sport                  Hockey
Event     Hockey Men's Hockey
Medal                    Gold
Name: 29310, dtype: object
Anomaly detected: expected no medal but got 3 prediction is:  0.0030447207
ID                               18662
Name      Vincent Lamar "Vince" Carter
Sex                                  M
Age                               23.0
Height                           195.0
Weight                           102.0
Team                     United States
NOC                                USA
Games                      2000 Summer
Year                              2000
Season                          Summer
City                            Sydney
Sport                       Basketball
Event      Basketball Men's Basketball
Medal                             Gold
Name: 36316, dtype: object
Anomaly detected: expected no medal but got 3 prediction is:  0.0030447207
ID                                19901
Name            Tina Alexandria Charles
Sex                                   F
Age                                27.0
Height                            193.0
Weight                             88.0
Team                      United States
NOC                                 USA
Games                       2016 Summer
Year                               2016
Season                           Summer
City                     Rio de Janeiro
Sport                        Basketball
Event     Basketball Women's Basketball
Medal                              Gold
Name: 38680, dtype: object
Anomaly detected: expected no medal but got 3 prediction is:  0.0030447207
ID                                    20310
Name                           Chen Yanqing
Sex                                       F
Age                                    29.0
Height                                158.0
Weight                                 58.0
Team                                  China
NOC                                     CHN
Games                           2008 Summer
Year                                   2008
Season                               Summer
City                                Beijing
Sport                         Weightlifting
Event     Weightlifting Women's Lightweight
Medal                                  Gold
Name: 39464, dtype: object
Anomaly detected: expected no medal but got 3 prediction is:  0.0030435154
ID                            21795
Name           Ellery Harding Clark
Sex                               M
Age                            22.0
Height                        180.0
Weight                          NaN
Team                  United States
NOC                             USA
Games                   1896 Summer
Year                           1896
Season                       Summer
City                         Athina
Sport                     Athletics
Event     Athletics Men's Long Jump
Medal                          Gold
Name: 42250, dtype: object
Anomaly detected: expected no medal but got 3 prediction is:  0.0030435154
ID                                 22692
Name        Barthold Wayne "Bart" Conner
Sex                                    M
Age                                 26.0
Height                             165.0
Weight                              58.0
Team                       United States
NOC                                  USA
Games                        1984 Summer
Year                                1984
Season                            Summer
City                         Los Angeles
Sport                         Gymnastics
Event     Gymnastics Men's Parallel Bars
Medal                               Gold
Name: 44046, dtype: object